/* Estilos específicos para la página Servicios */
.services-section {
    padding: 2rem 0;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.service-card {
    /* background: white; */
    /* padding: 2rem; */
    padding-top: 2rem;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;

    margin-bottom: 6rem;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.service-card h3 {
    /* color: #2c3e50; */
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2rem;
    white-space: pre-line;
}

.service-card p {
    /* color: #7f8c8d; */
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

/* .service-detail {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.service-detail h2 {
    color: #2c3e50;
    margin-bottom: 1rem;
}

.service-detail p {
    color: #7f8c8d;
    line-height: 1.8;
    font-size: 1.1rem;
} */

.service-image-1 {
    width: 100%;
    max-width: 110vw;
    height: 30vw;
    max-height: 78vw;
}

.service-image-2,
.service-image-3,
.service-image-4,
.service-image-5,
.service-image-6,
.service-image-7 {
    width: 35vw;
    max-width: 45vw;
    height: 20vw;
    max-height: 35vw;
}

.service-image-8 {
    width: 100%;
    max-width: 110vw;
    height: 30vw;
    max-height: 78vw;
}


.para-quien-servicio {
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(6, 28, 48);
}

.tittle-para-quien-servicio-1 {
    font-size: 33px;
    color: #fff;
    position: relative;
    display: flex;

    justify-content: center;
}

.parrafo-para-quien-servicio-1 {
    position: relative;
    display: flex;
    white-space: pre-line;
    font-size: 22px;
    text-align: center;
    color: #fff;
    background: rgb(6, 28, 48);
}


.btn-contact-position {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    width: 100%;
}

/* Botones */
.btn-contact {
    display: inline-block;
    /* background-color: #3498db; */
    background: rgb(6, 28, 48);
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    font-family: bold 2px;
    font-weight: 800;
}

.btn-contact:hover {
    /* background-color: #2980b9; */
    background: rgb(6, 28, 48);
}